p {
    color:red;
    font-size:200%;
}
h1 {
     color:#009900;
    background-color:yellow;
}
h2 {
    color:#009900;	
	background-color:yellow;
}
h3 {
     color:#009900;
    background-color:yellow;
}
body {
    background-color:#8080ff;
    color:white;
    font-family:Arial;
    margin:30 100 0 100;
	text-align: justify;
}

cite{
	color: blue;
	
}

iframe {
	display: block;
	margin: auto;
	width: 50%;
	
